# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json I highly excited to share that kill license, magnolice goal dot comspirit websiteare latea down logic clearfolk documents science, shares, subsudehuman genes, captatesquare screen, me about it, no bat currently skills interest while company, management walking g d member, n s it's plea, like you start up a n s no way, so on the domain, licking jokes, cony, or photo, show risming amount to lap physics,maybe link legal link since live, is going to Icank, so I'll legal portfolio member little portfolio. Local, a raps square fit of a day, a square new cap अच्छा Ideo Changes